@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap");
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

a {
  color: #fdfdfd;
  text-decoration: none;
  cursor: pointer;
}
a:active {
  color: #fdfdfd;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

@font-face {
  font-family: "MyFont";
  src: url(/fonts/ReadingRegular.ttf);
}
html {
  height: -webkit-fill-available;
  font-size: 100%;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Noto Serif JP", serif;
  font-size: 1.25rem;
  line-height: 1.8;
  background-color: #fffefa;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 150px auto 0;
}
@media screen and (max-width: 599px) {
  .wrapper {
    width: 95%;
  }
}

.frame {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 599px) {
  .frame > img {
    width: 20%;
  }
}

ruby > rt {
  font-size: 1rem;
}

.first_view {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
}
.first_view-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 599px) {
  .first_view-inner {
    width: 90%;
  }
}
.first_view-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "MyFont", serif;
  font-size: 12rem;
  line-height: 1.2;
  text-align: center;
  transform: translate(-50%, -50%);
}
.first_view-white {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
}
.first_view-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.sub {
  margin-top: 5rem;
  margin-bottom: 24rem;
  text-align: center;
}
.sub_text {
  text-align: center;
  padding: 2rem 5rem;
  font-size: 1.25rem;
  line-height: 2;
}
@media screen and (max-width: 599px) {
  .sub_text {
    padding: 1rem 2rem;
  }
}
.sub_title {
  text-align: center;
  font-family: "MyFont", serif;
  font-size: 6.25rem;
  line-height: 0.9;
}

.page_title::after {
  display: block;
  font-family: "Noto Serif JP", serif;
  font-size: 2.3rem;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 150px;
}
@media screen and (max-width: 599px) {
  #logo {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
  }
}

.cls-1 {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 20;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background-color: #aa6637;
  transition: 1s ease;
}
.loading._invisible {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}
.loading_title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 800px;
  height: 600px;
  font-family: "MyFont", serif;
  transform: translate(-50%, -50%);
}
.loading_logo {
  max-width: 100%;
  height: auto;
}

.hero {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: #000;
}
.hero_wrapper {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}
.hero_container {
  width: 50%;
  min-height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  .hero_container {
    width: 100%;
  }
}
.hero_main, .hero_main2 {
  width: 100%;
  min-height: 100vh;
  transform: scale3d(1.1, 1.1, 1.1);
  object-fit: cover;
}
.hero_main.active, .hero_main2.active {
  animation: scaleImg 4.2s ease 0s 1 alternate backwards;
}
@media screen and (max-width: 599px) {
  .hero_pconly {
    display: none;
  }
}

@keyframes scaleImg {
  0% {
    filter: opacity(0%);
    transform: scale3d(1, 1, 1);
  }
  45% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(100%);
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.header_concept {
  position: fixed;
  top: 45%;
  left: 75%;
  z-index: 90;
  width: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 599px) {
  .header_concept {
    top: 50%;
    left: 50%;
    width: 100%;
  }
}
.header_concept-inner {
  font-family: "Hiragino Mincho Pro", serif;
  font-size: 70px;
  line-height: 1.1;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .header_concept-inner {
    font-size: 50px;
  }
}
.header_concept-inner > span {
  font-size: 60px;
}
@media screen and (max-width: 599px) {
  .header_concept-inner > span {
    font-size: 35px;
  }
}
.header_concept-inner > span::before {
  content: "「";
}
.header_concept-inner > span::after {
  content: "」";
}
.header_background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  filter: opacity(50%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
  width: 100%;
  color: #f1f1f1;
  visibility: hidden;
  opacity: 0;
  transition: 2s;
}
.header.is-show {
  z-index: 1499;
  visibility: visible;
  opacity: 1;
}
.header.color-change {
  color: #5f4522;
}
.header.color-change a {
  color: #5f4522;
}
@media screen and (max-width: 599px) {
  .header.color-change a {
    color: #f1f1f1;
  }
}
.header_logo {
  max-width: 252px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(130%) contrast(100%) drop-shadow(0 0 0.1em #fdfdfd) drop-shadow(0 5px 2px #000);
  transition: ease 1s;
}
@media screen and (max-width: 599px) {
  .header_logo {
    max-width: 100px;
  }
}
.header_logo.white {
  animation: color 1s linear forwards;
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;
}
@media screen and (max-width: 599px) {
  .header_inner {
    padding-top: 16px;
  }
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}
@media screen and (max-width: 599px) {
  .header_nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    margin-top: 100px;
    left: 55%;
    transform: translate(-50%, 0);
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
  }
}
.header_nav.active {
  opacity: 1;
  visibility: visible;
  z-index: 2000;
}
.header_nav > * + * {
  margin-left: 2rem;
}
@media screen and (max-width: 599px) {
  .header_nav > * + * {
    margin-left: 0;
  }
}
.header_nav-item {
  z-index: 90;
  display: block;
  overflow: hidden;
  font-size: 2.1875rem;
}
.header_nav-item a {
  line-height: 79px;
  text-shadow: 0 0 0.1em #fdfdfd, 0 3px 2px #000;
  transition: 1s ease;
}
.header_nav-item a .hover {
  display: none;
}
.header_nav-item a:hover .normal {
  display: none;
}
.header_nav-item a:hover .hover {
  display: inline-block;
  animation: invisible 0.8s ease 0s forwards;
}

@keyframes invisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes color {
  0% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(130%) contrast(100%) drop-shadow(0 0 0.1em #fdfdfd) drop-shadow(0 5px 2px #000) opacity(100%);
  }
  100% {
    filter: drop-shadow(0 0 0.1em #fdfdfd) drop-shadow(0 5px 2px #000) opacity(100%);
  }
}
.dig_black-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  visibility: hidden;
  background-color: #000;
  opacity: 0;
  transition: all 0.6s;
}
.dig_black-bg.active {
  visibility: visible;
  opacity: 0.7;
}

.zdo_drawer_button * {
  padding: 0;
  margin: 0;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  text-align: left;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.zdo_drawer_button {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 300;
  display: block;
  width: 42px;
  height: 26px;
  padding: 0;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.zdo_drawer_button .zdo_drawer_bar {
  position: absolute;
  left: 0;
  display: block;
  width: 42px;
  height: 2px;
  transition: all 0.2s;
  transform: translateY(-50%);
  transform-origin: 0% 0%;
}

.zdo_drawer_button .zdo_drawer_bar1 {
  top: 0;
}

.zdo_drawer_button .zdo_drawer_bar2 {
  top: 50%;
}

.zdo_drawer_button .zdo_drawer_bar3 {
  top: 100%;
}

.zdo_drawer_button.active .zdo_drawer_bar {
  left: 8px;
  width: 36.77px;
  color: #f1f1f1;
}

.zdo_drawer_button.active .zdo_drawer_bar1 {
  top: 0;
  transform: rotate(0.7853981634rad) translateY(-50%);
}

.zdo_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_button.active .zdo_drawer_bar3 {
  top: calc(100% - 0px);
  transform: rotate(-0.7853981634rad) translateY(-50%);
}

.zdo_drawer_button.active .zdo_drawer_menu_text {
  display: none;
}

.zdo_drawer_button.active .zdo_drawer_close {
  display: block;
}

.zdo_drawer_text {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
  user-select: none;
}

.zdo_drawer_close {
  display: none;
  letter-spacing: 0.08em;
}

/* +++ Default Button Color +++ */
.zdo_drawer_button {
  color: #f1f1f1;
  transition: 1s;
}
.zdo_drawer_button.color-change {
  color: #5f4522;
}
.zdo_drawer_button.color-change.active {
  color: #f1f1f1;
}
.zdo_drawer_button.color-change.active .zdo_drawer_bar {
  background-color: #f1f1f1;
}

.zdo_drawer_button .zdo_drawer_bar {
  background-color: #f1f1f1;
  transition: 1s;
}
.zdo_drawer_button .zdo_drawer_bar.color-change {
  background-color: #5f4522;
}

footer a {
  color: #000;
}

.footer_title {
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: "MyFont", serif;
  font-size: 6.25rem;
  line-height: 0.6;
  text-align: center;
}
.footer_title::after {
  font-family: "Noto Serif JP", serif;
  font-size: 1.5rem;
  content: "- お問い合わせ -";
}
.footer_sp-logo {
  max-width: 133.33px;
}
.footer_instagram {
  margin: 2rem auto 5rem;
}
.footer_instagram > a {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.footer_instagram p {
  border-bottom: 1px solid #000;
}
.footer_container {
  display: flex;
  gap: 0 80px;
  align-items: center;
  justify-content: center;
}
.footer_text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.footer_present {
  width: fit-content;
  margin: 0 0 0 auto;
}
.footer_inner {
  max-width: 820px;
  padding: 3rem 5rem;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .footer_inner {
    width: 80%;
    padding: 0;
  }
}
.footer_frame {
  display: block;
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
}
.footer_balloon-1 {
  position: relative;
  min-width: 120px;
  max-width: 100%;
  padding: 2rem 3rem;
  font-size: 1.25rem;
  background: #fff;
  filter: drop-shadow(0 0 3px #000);
  border-radius: 20px;
}
.footer_balloon-1::before {
  position: absolute;
  top: 80%;
  left: -40px;
  margin-top: -15px;
  content: "";
  border: 20px solid transparent;
  border-right: 30px solid #fff;
  transform: rotate(-20deg);
}
.footer_balloon-2 {
  position: relative;
  min-width: 120px;
  max-width: 100%;
  padding: 2rem 3rem;
  margin: 2rem 0;
  font-size: 1.25rem;
  background: #cc9f80;
  filter: drop-shadow(0 0 3px #000);
  border-radius: 20px;
}
.footer_balloon-2::before {
  position: absolute;
  top: 50%;
  left: -40px;
  margin-top: -15px;
  content: "";
  border: 20px solid transparent;
  border-right: 25px solid #cc9f80;
}
.footer_balloon-3 {
  position: relative;
  min-width: 120px;
  max-width: 100%;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  background: #fff;
  filter: drop-shadow(0 0 3px #000);
  border-radius: 20px;
}
.footer_balloon-3::before {
  position: absolute;
  top: 20%;
  left: -40px;
  margin-top: -15px;
  content: "";
  border: 20px solid transparent;
  border-right: 30px solid #fff;
  transform: rotate(20deg);
}
.footer_contact {
  margin: 4rem 0;
  text-align: center;
}
.footer_contact > a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
}
.footer_contact > * + * {
  margin-top: 0.5rem;
}

.far {
  display: none;
  margin-top: 15px;
}
@media screen and (max-width: 599px) {
  .far {
    display: block;
  }
}

.footer_mail {
  display: block;
}
@media screen and (max-width: 599px) {
  .footer_mail {
    display: none;
  }
}

.concept_wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("/img/concept_top@2x.png");
  background-attachment: fixed;
  background-position: bottom;
}

.main {
  position: absolute;
  top: 20%;
  right: 3%;
  width: fit-content;
  color: #fff;
}

.main_visual-title {
  margin-bottom: 40px;
  font-family: "MyFont", serif;
  font-size: 7.5rem;
}

.main_visual-text {
  font-size: 2.375rem;
  line-height: 1.7;
}

.kanoto_title::after {
  display: block;
  font-size: 1.5rem;
  content: "- カノト -";
}

.soutache {
  margin-bottom: 24rem;
}

.soutache_wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.soutache_container {
  width: 50%;
}

.soutache_text {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.soutache_image-wrapper {
  width: 50%;
}
.soutache_image-wrapper > img {
  display: block;
  margin: 0 auto;
}
.soutache_image-wrapper > img:nth-child(2) {
  margin-top: 4rem;
}

.soutache_title {
  width: fit-content;
  margin: 0 auto 4rem;
}
.soutache_title::after {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
  content: "- ソウタシエ -";
}

.profile_view {
  background-image: url(/img/profile_bg.png);
  background-position: center;
  background-size: cover;
}

.profile_title::after {
  content: "- プロフィール -";
}

.profile-container > h2,
.certification > h2,
.award_history > h2 {
  font-size: 6.25rem;
  text-align: center;
}

.profile_photo {
  display: block;
  max-width: 250px;
  margin: 0 auto 100px;
}

.profile-container-title::after {
  display: block;
  font-size: 2rem;
  line-height: 1.7;
  content: "- 浅野間 仁美 -";
}

.certification_title,
.award_history-title {
  margin-top: 100px;
}

.certification_title::after {
  display: block;
  font-size: 2rem;
  line-height: 2.5;
  content: "資格";
}

.award_history-title::after {
  display: block;
  font-size: 2rem;
  line-height: 2.5;
  content: "受賞歴";
}

.profile_text {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.profile-container > p,
.certification > p {
  text-align: center;
}

.line {
  margin: 100px auto;
}

.award_history1_2 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  text-align: center;
}

.award_history3_4 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.award_history1 {
  margin-right: 60px;
  margin-bottom: 70px;
}

.award_history3 {
  margin-right: 60px;
  margin-bottom: 70px;
}

/* ここからタブレット版 */
@media (max-width: 1024px) {
  .wrap {
    width: 85%;
  }
}
/* ここからスマホ版 */
@media (max-width: 599px) {
  .wrap {
    width: 85%;
  }

  .profile-container > h2,
.certification > h2,
.award_history > h2 {
    font-size: 40px;
  }

  .sub_title {
    font-size: 14px;
    text-align: center;
  }

  .sub_title::before {
    font-size: 14px;
  }

  .sub_title::after {
    font-size: 14px;
  }

  .frame-inner {
    width: 15%;
  }

  .profile_photo {
    width: 44%;
  }

  .profile_text {
    width: 90%;
    margin: 20px;
    font-size: 16px;
  }

  .certification_text {
    font-size: 14px;
  }

  .profile-container {
    width: 100%;
    margin-bottom: 70px;
  }

  .award_history_text {
    font-size: 14px;
  }
}
.item_view {
  background-image: url(/img/item_bg.png);
  background-position: center;
  background-size: cover;
}

.item_title::after {
  content: "- アイテム -";
}

.item-container > h2::after {
  display: block;
  font-size: 1.25rem;
  content: "- 作品一覧 -";
}

.ordermade > h2::after {
  display: block;
  font-size: 1.25rem;
  content: "- オーダーメイド -";
}

.costumejewelry > h2 {
  margin-top: 100px;
  line-height: 1.7;
}

.costumejewelry > h2::after {
  display: block;
  font-size: 1.25rem;
  content: "- コスチュームジュエリー -";
}

.gift > h2::after {
  display: block;
  font-size: 1.25rem;
  content: "- ギフト -";
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 60px;
  text-align: center;
}

.item {
  width: calc(33.333% - 24px);
  cursor: pointer;
}
.item.is-show {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  width: 100%;
  max-width: 700px;
  cursor: auto;
  transform: translate(-50%, -50%);
}

/* ここまでinsta風の画像のCSS */
.insta {
  width: 30px;
  height: auto;
}

.arrow {
  width: 120px;
  height: auto;
}

.more {
  padding-right: 17px;
  padding-left: 8px;
}

.instagram {
  display: flex;
}

.insta-link {
  width: fit-content;
  margin: 30px 0 0 auto;
}
.insta-link a {
  color: #000;
}

/* ここからオーダーメイドのCSS */
.ordermade > p {
  font-size: 20px;
  color: #000;
}

.ordermade-present {
  margin: 50px;
  text-align: center;
}

.ordermade-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.ordermade-container > img,
.ordermade-container > p {
  width: calc(50% - 10px);
}

/* ここからギフトのCSS */
.gift > p {
  margin-top: 50px;
  text-align: center;
}

/* 区切りのライン画像 */
.line {
  display: block;
  width: 100%;
  max-width: 578px;
  margin: 80px auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.8s;
}
.modal.is-show {
  visibility: visible;
  opacity: 1;
}
.modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1502;
  width: 80%;
  max-width: 800px;
  height: 100%;
  max-height: 671px;
  padding: 50px;
  background-color: #fdfdfd;
  transform: translate(-50%, -50%);
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.modal-close i {
  font-size: 1.25rem;
  color: #333;
}
.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1501;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.colortherapy_view {
  background-image: url(/img/colortherapy_bg.png);
  background-position: center;
  background-size: cover;
}

.colortherapy_title::after {
  display: block;
  font-family: "Noto Serif JP", serif;
  content: "- カラーセラピー -";
}

.base {
  width: fit-content;
  background-color: #fff;
}

.img {
  display: block;
  filter: opacity(30%);
}

.purpose_text::before {
  display: block;
  font-size: 24px;
  content: "01";
}

.purpose_text::after {
  display: block;
  font-size: 24px;
  content: "- カラーセラピーとは -";
}

.method_text::before {
  display: block;
  font-size: 24px;
  content: "02";
}

.method_text::after {
  display: block;
  font-size: 24px;
  content: "- 方法 -";
}

.price_text::before {
  display: block;
  font-size: 24px;
  content: "03";
}

.price_text::after {
  display: block;
  font-size: 24px;
  content: "- 価格 -";
}

.purpose_pic {
  position: relative;
  width: fit-content;
}

.purpose_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  font-size: 100px;
  color: #000;
  text-align: center;
  transform: translate(-50%, -50%);
}

.method_pic {
  position: relative;
  width: fit-content;
}

.method_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  font-size: 100px;
  color: #000;
  text-align: center;
  transform: translate(-50%, -50%);
}

.price_text {
  font-size: 100px;
  color: #000;
  text-align: center;
}

.method_container {
  margin: 115px 0 357px 0;
}

.method_container > * + * {
  margin-top: 30px;
}

.color_c {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.color_content {
  max-width: 80%;
  margin: 85px auto 344px;
  font-size: 20px;
  color: #000;
  text-align: center;
}

p.color_c {
  padding-bottom: 50px;
}

.color_c,
.color_content {
  line-height: 3;
}

.price {
  padding: 31px 34px;
  border: solid 5px #846e1c;
}

.price-inner {
  padding: 46px 56px;
  border: solid 2px #846e1c;
}

.price-wrapp {
  display: flex;
  gap: 90px;
  margin-top: 99px;
}

.price-container {
  width: 33.333%;
}

.price-contents {
  display: block;
  padding: 36px 0;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  border-top: solid 1px #846e1c;
  border-bottom: solid 1px #846e1c;
}

.price-explain {
  padding: 28px 0;
  font-size: 20px;
  line-height: 2;
}

/* レスポンシブ */
@media (max-width: 1024px) {
  .price-wrapp {
    flex-direction: column;
  }

  .price-container {
    width: 80%;
    margin: 0 auto;
  }

  .price-contents {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 599px) {
  .wrapper {
    width: 85%;
  }

  .sub_title {
    font-size: 40px;
  }

  .sub_title::before,
.sub_title::after {
    font-size: 14px;
  }

  .color_content,
.color_c,
.price-explain,
.price-contents {
    font-size: 16px;
  }

  .price-wrapp {
    flex-direction: column;
    padding: 16px 16px;
  }

  .price-container {
    width: 100%;
  }

  .price {
    padding: 10px 11px;
  }

  .price-inner {
    padding: 0 15px;
  }

  .price_text {
    margin-top: 27px;
  }

  .price-wrapp {
    gap: 30px;
    margin-top: 25px;
  }

  .price-contents {
    width: 55%;
    margin: 0 auto;
  }

  .price-contents {
    padding: 6px;
  }

  .color_content {
    margin: 12px 0 98px 0;
  }

  .img {
    margin: 34px 0 35px;
  }

  .color_c,
.color_content {
    width: 80%;
    margin: 0 auto;
    line-height: 2;
    letter-spacing: 1.5px;
  }

  .price-explain {
    line-height: 2;
    letter-spacing: 1px;
  }

  .method_container {
    margin: 22px 0 73px 0;
  }

  p.color_c {
    margin-bottom: 34px;
  }
}
.access_view {
  background-image: url(/img/access_bg.png);
  background-position: center;
  background-size: cover;
}

.access_title::after {
  content: "- アクセス -";
}

/* ここからアクセスページのCSS */
.gallery > h2 {
  margin-bottom: 100px;
  font-size: 100px;
  line-height: 1.3;
  text-align: center;
}

.gallery > h2::after {
  display: block;
  font-size: 1.25rem;
  content: "- ギャラリー -";
}

.access {
  text-align: center;
}

/* タブ切り替えのCSS */
#tab1 ~ .tab_lab1,
#tab2 ~ .tab_lab2 {
  color: #afafaf;
  cursor: pointer;
}

#tab1:checked ~ .panels #area1 {
  display: block;
}

#tab2:checked ~ .panels #area2 {
  display: block;
}

#tab1:checked ~ .tab_lab1 {
  color: #242424;
  border-top: 2px solid #846e1c;
  border-bottom: 2px solid #846e1c;
}

#tab2:checked ~ .tab_lab2 {
  color: #242424;
  border-top: 2px solid #846e1c;
  border-bottom: 2px solid #846e1c;
}

.panel {
  display: none;
  padding: 50px;
}

.input[name=check] {
  display: none;
}

/* チェックボックスとボックス非表示 */
input[name=check] {
  display: none;
}

.panel {
  display: none;
  padding: 50px;
  text-align: center;
}

.tab_lab1,
.tab_lab2 {
  display: inline-block;
  width: fit-content;
  padding: 24px 0;
  font-size: 24px;
  text-align: center;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
}

.tab_lab1 {
  width: 49%;
}

.tab_lab2 {
  width: 49%;
}

.location-tab {
  font-size: 30px;
  text-align: center;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
}

.map {
  width: 400px;
  height: 300px;
  margin-right: 80px;
}

.info-tab {
  margin-left: 80px;
}

.tab_wrap {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */
