.access_view {
  background-image: url(../img/access_bg.png);
  background-position: center;
  background-size: cover;

  @media screen and(max-width: 599px) {
    background-position: top;
    background-size: contain;
  }
}

.access_title::after {
  content: '- アクセス -';

  @media screen and(max-width: 599px) {
    font-size: 1rem;
    line-height: 1;
  }
}

/* ここからアクセスページのCSS */
.gallery > h2 {
  margin-bottom: 100px;
  text-align: center;
  line-height: 1.7;

  @media screen and(max-width: 599px) {
    margin-bottom: 50px;
  }
}

.gallery > h2::after {
  display: block;
  font-size: 1.25rem;
  content: '- ギャラリー -';

  @media screen and(max-width: 599px) {
    font-size: 0.875rem;
  }
}

.access {
  text-align: center;
}

/* タブ切り替えのCSS */
#tab1 ~ .tab_lab1,
#tab2 ~ .tab_lab2 {
  color: #afafaf;
  cursor: pointer;
}

#tab1:checked ~ .panels #area1 {
  display: block;
}

#tab2:checked ~ .panels #area2 {
  display: block;
}

#tab1:checked ~ .tab_lab1 {
  color: #242424;
  border-top: 2px solid #846e1c;
  border-bottom: 2px solid #846e1c;

}

#tab2:checked ~ .tab_lab2 {
  color: #242424;
  border-top: 2px solid #846e1c;
  border-bottom: 2px solid #846e1c;

}

.panel {
  display: none;
  padding: 50px;
}

.input[name='check'] {
  display: none;
}

/* チェックボックスとボックス非表示 */
input[name='check'] {
  display: none;
}

.panel {
  display: none;
  padding: 50px;
  text-align: center;

  @media screen and(max-width: 599px) {
    padding: 0;
  }
}

.tab_lab1,
.tab_lab2 {
  display: inline-block;
  width: fit-content;
  padding: 24px 0;
  font-size: 24px;
  text-align: center;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;

  @media screen and(max-width: 599px) {
    font-size: 1rem;
    margin-bottom: 25px;
  }
}

.tab_lab1 {
  width: 49%;
}

.tab_lab2 {
  width: 49%;
}

.location-tab {
  font-size: 30px;
  text-align: center;

  @media screen and(max-width: 599px) {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;

  @media screen and(max-width: 599px) {
    flex-direction: column;
    padding-top: 20px;
  }
}

.map {
  max-width: 400px;
  max-height: 300px;
  margin-right: 80px;

  @media screen and(max-width: 599px) {
    width: 100%;
    margin: 0 auto;
  }
}

.info_tab {
  @media screen and(max-width: 599px) {
    margin: 30px auto;
  }
}

.tab_wrap {
  margin: 0 auto;
}
