//コンセプト
.concept_wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(../img/concept_top@2x.png);
  background-attachment: fixed;
  background-position: bottom;

  @media screen and(max-width: 599px) {
    width: 100%;
    height: 100%;
    padding-top: 53.84%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}

.main {
  position: absolute;
  top: 20%;
  right: 3%;
  width: fit-content;
  color: #fff;

  @media screen and(max-width: 599px) {
    top: 2%;
    right: 0;
  }
}

.main_visual-title {
  margin-bottom: 40px;
  font-family: 'MyFont', serif;
  font-size: 7.5rem;

  @media screen and(max-width: 599px) {
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 3rem;
    line-height: 1;
  }
}

.main_visual-text {
  font-size: 2.375rem;
  line-height: 1.7;

  @media screen and(max-width: 599px) {
    font-size: 1rem;
  }
}

.kanoto_title {
  &::after {
    display: block;
    content: '- カノト -';
  }
}

.soutache_wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;

  @media screen and(max-width: 599px) {
    flex-direction: column;
  }
}

.soutache_container {
  width: 50%;

  @media screen and(max-width: 599px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.soutache_text {
  display: block;
  width: 80%;
  margin: 0 auto;

  @media screen and(max-width: 599px) {
    width: 100%;
  }
}

.soutache_image-wrapper {
  width: 50%;

  @media screen and(max-width: 599px) {
    width: 100%;
  }

  & > img {
    display: block;
    margin: 0 auto;

    &:nth-child(2) {
      margin-top: 4rem;
    }
  }
}

.soutache_title {
  width: fit-content;
  margin: 0 auto 4rem;

  @media screen and(max-width: 599px) {
    margin-bottom: 24px;
  }

  &::after {
    display: block;
    width: fit-content;
    margin: 0 auto;
    content: '- ソウタシエ -';
  }
}
