.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
  width: 100%;
  color: #f1f1f1;
  visibility: hidden;
  opacity: 0;
  transition: 2s;

  &.is-show {
    z-index: 1499;
    visibility: visible;
    opacity: 1;
  }

  &.color-change {
    color: #5f4522;

    & a {
      color: #5f4522;

      @media screen and(max-width: 599px) {
        color: #f1f1f1;
      }
    }
  }

  &_logo {
    max-width: 252px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(130%) contrast(100%);
    transition: ease 1s;

    @media screen and(max-width: 1024px) {
      max-width: 170px;
    }

    @media screen and(max-width: 599px) {
      max-width: 80px;
    }

    &.white {
      animation: color 1s ease forwards;
    }
  }

  &_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;

    @media screen and(max-width: 599px) {
      padding-top: 16px;
    }
  }

  &_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;

    @media screen and(max-width: 599px) {
      position: fixed;
      top: 0;
      left: 55%;
      flex-direction: column;
      margin-top: 100px;
      visibility: hidden;
      opacity: 0;
      transition: 0.8s;
      transform: translate(-50%, 0);
    }

    &.active {
      z-index: 2000;
      visibility: visible;
      opacity: 1;
    }

    & > * + * {
      margin-left: 2rem;

      @media screen and(max-width: 599px) {
        margin-left: 0;
      }
    }

    &-item {
      z-index: 90;
      display: block;
      overflow: hidden;
      font-size: 2.1875rem;

      @media screen and(max-width: 1024px) {
        font-size: 1.25rem;
      }

      & a {
        line-height: 79px;
        //text-shadow: 0 0 0.1em #fdfdfd, 0 3px 2px #000;
        transition: 1s ease;

        & .hover {
          display: none;
        }

        &:hover .normal {
          display: none;
        }

        &:hover .hover {
          display: block;
          width: fit-content;
          animation: invisible 0.8s ease 0s forwards;
        }
      }
    }
  }
}

@keyframes invisible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes color {
  0% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(130%) contrast(100%) opacity(100%);
  }

  100% {
    //filter: drop-shadow(0 0 0.1em #fdfdfd) drop-shadow(0 5px 2px #000) opacity(100%);
    filter: invert(0) sepia(0) opacity(100%);
  }
}

//ハンバーガーメニュー
.dig_black-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  visibility: hidden;
  background-color: #000;
  opacity: 0;
  transition: all 0.6s;

  &.active {
    visibility: visible;
    opacity: 0.7;
  }
}

.zdo_drawer_button * {
  padding: 0;
  margin: 0;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  text-align: left;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.zdo_drawer_button {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 300;
  display: block;
  width: 43px;
  height: 26px;
  padding: 0;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.zdo_drawer_button .zdo_drawer_bar {
  position: absolute;
  left: 0;
  display: block;
  width: 42px;
  height: 2px;
  transition: all 0.2s;
  transform: translateY(-50%);
  transform-origin: 0% 0%;
}

.zdo_drawer_button .zdo_drawer_bar1 {
  top: 0;
}

.zdo_drawer_button .zdo_drawer_bar2 {
  top: 50%;
}

.zdo_drawer_button .zdo_drawer_bar3 {
  top: 100%;
}

.zdo_drawer_button.active .zdo_drawer_bar {
  left: 8px;
  width: 36.77px;
  color: #f1f1f1;
}

.zdo_drawer_button.active .zdo_drawer_bar1 {
  top: 0;
  transform: rotate(0.7853981633974483rad) translateY(-50%);
}

.zdo_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_button.active .zdo_drawer_bar3 {
  top: calc(100% - 0px);
  transform: rotate(-0.7853981633974483rad) translateY(-50%);
}

.zdo_drawer_button.active .zdo_drawer_menu_text {
  display: none;
}

.zdo_drawer_button.active .zdo_drawer_close {
  display: block;
}

.zdo_drawer_text {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
  user-select: none;
}

.zdo_drawer_close {
  display: none;
  letter-spacing: 0.08em;
}

/* +++ Default Button Color +++ */
.zdo_drawer_button {
  display: none;
  color: #f1f1f1;
  transition: 1s;

  @media screen and(max-width: 599px) {
    display: block;
  }

  &.color-change {
    color: #5f4522;

    &.active {
      color: #f1f1f1;

      & .zdo_drawer_bar {
        background-color: #f1f1f1;
      }
    }
  }
}

.zdo_drawer_button .zdo_drawer_bar {
  background-color: #f1f1f1;
  transition: 1s;

  &.color-change {
    background-color: #5f4522;
  }
}
