.item_view {
  background-image: url(../img/item_bg.png);
  background-position: center;
  background-size: cover;
}

.item_title {
  &::after {
    content: '- アイテム -';
  }
}

.item-container > h2::after {
  display: block;
  font-size: 1.25rem;
  content: '- 作品一覧 -';
}

.ordermade > h2::after {
  display: block;
  font-size: 1.25rem;
  content: '- オーダーメイド -';
}

.costumejewelry > h2 {
  margin-top: 100px;
  line-height: 1.7;
}

.costumejewelry > h2::after {
  display: block;
  font-size: 1.25rem;
  content: '- コスチュームジュエリー -';
}

.gift > h2::after {
  display: block;
  font-size: 1.25rem;
  content: '- ギフト -';
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 60px;
  text-align: center;
}

.item {
  width: calc(33.333% - 24px);
  cursor: pointer;

  &.is-show {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2000;
    width: 100%;
    max-width: 700px;
    cursor: auto;
    transform: translate(-50%, -50%);
  }
}

/* ここまでinsta風の画像のCSS */
.insta {
  width: 30px;
  height: auto;
}

.arrow {
  width: 120px;
  height: auto;
}

.more {
  padding-right: 17px;
  padding-left: 8px;
}

.instagram {
  display: flex;
}

.insta-link {
  width: fit-content;
  margin: 30px 0 0 auto;

  & a {
    color: #000;
  }
}

/* ここからオーダーメイドのCSS */

.ordermade > p {
  font-size: 20px;
  color: #000;
}

.ordermade-present {
  margin: 50px;
  text-align: center;
}

.ordermade-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.ordermade-container > img,
.ordermade-container > p {
  width: calc(50% - 10px);
}

/* ここからギフトのCSS */
.gift > p {
  margin-top: 50px;
  text-align: center;
}

/* 区切りのライン画像 */
.line {
  display: block;
  width: 100%;
  max-width: 578px;
  margin: 80px auto;
}

//モーダル表示
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.8s;

  &.is-show {
    visibility: visible;
    opacity: 1;
  }

  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1502;
    width: 80%;
    max-width: 800px;
    height: 100%;
    max-height: 671px;
    padding: 50px;
    background-color: #fdfdfd;
    transform: translate(-50%, -50%);
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;

    & i {
      font-size: 1.25rem;
      color: #333;
    }
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1501;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
